<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>

        <title>Hello, world!</title>

        <style>

            .test2{
                float:left;
                margin-left:30px;
                border: 2px solid black;
                padding: 40px;
            }
            .test3{
                margin:0 auto;
                padding: 30px;
                width: 1000px;
                padding: 10px;
            }
        </style>

    </head>
<body>
<div class="test3">
<div class="test2">
<form action="/joinRoom" >
    <div class="form-group">
        <label for="userName">Player Name</label>
        <input type="text" id="userName" class="form-control " name="userName"></input>
    </div>
    <div class="form-group">
        <label for="roomNumber">Room Number</label>
        <input type="text" class="form-control" id="roomNumber" name="roomNumber"></input>
    </div>
    <button type="submit" class="btn btn-primary bg-success">Join Room</button>
</form>
    <p class="text-danger" th:text="${ErMessage}"> </p>
</div>
<div class="test2  ">
    <form action="/newRoom" >
        <div class="form-group">
            <label for="userName">Player Name</label>
            <input type="text" class="form-control" id="userName" name="userName">
        </div>

        <button type="submit" class="btn btn-primary bg-danger">Create New room</button>
    </form>
</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>